# OpenAI API Key (For Brain & Reasoning)
OPENAI_API_KEY=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

# News API Key (For Real-Time News Fetching)
NEWS_API_KEY=1c3a1886b0aa48f98981b118030d641e

# OpenWeatherMap API Key (For Weather Forecasting)
OPENWEATHER_API_KEY=2ace4292ca3baf9ade9151d3eb6170d2
